*.class

#log file
*.log

#BlueJ files
*.ctxt

#mobile tools for java
.mjt.tmp/

#Package files
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

#virtual macine crashes
hs_err_pid*

#InteliJ files
*.idea

*.iml